.payment-form {
  width: 350px;
  display: flex;
  flex-direction: column;

  > div, > button {
    margin: 10px 0;
  }
}

.transactions-list {
  width: 50%;
}

// general
.row {
  display: flex;
}

.margin-5 {
  margin: 5px;
}